<div class="container text-center mt-5">
  <div class="time-content">
    <div class="date-content">
      <span class="textoDate">{{ fechaActual | date : "dd/MM/yyyy" }}</span>
    </div>
    <div class="hour-content">
      <span class="textoHour">{{ fechaActual | date : "HH:mm:ss" }}</span>
    </div>
  </div>
  <div class="controls-content">
    <div class="entry-content">
    <button class="btn btn-primary m-2" (click)="setEntry()">
      Registrar Entrada
    </button>
    @if(entryHour){
      <span class="card entryHour">{{entryHour}}</span>
    }
  </div>
  <div class="finish-content">
    <button class="btn btn-primary m-2" (click)="setFinish()">
      Registrar Salida
    </button>
    @if(finishHour){
      <span class="card finishHour">{{finishHour}}</span>
    }
  </div>
  </div>
</div>
