<div class="user-content">
    <section class="card-content">
        <figure>
          <img
            src="assets/tedisel-logo.png"
            class="rounded-circle img-fluid"
          />
        </figure>
        <div  class="col-12 col-md-6 mx-auto align-items-center">
          <h2>specificUser.first_name</h2>
          <h2>specificUser.last_name</h2>
          <p class="fw-bold fs-4">Nombre Usuario: <span class="fw-normal fs-5">specificUser.username</span></p>
          <p class="fw-bold fs-4">Email: <span class="fw-normal fs-5">specificUser.email</span> </p>
          <div  class="col-12 col-md-8 w-100 ">
            <a class="btn btn-danger m-1">Iniciar</a>
            <a class="btn btn-danger m-1">Pausaqqq</a>
            <a class="btn btn-danger m-1">Finalizar</a>
          </div>
        </div>
    </section>
</div>
